
.header {
    background-color: $color-primary-white;
    display: block;
    width: 100%;
    height: 10%;
}

.game-content {

    background: green;
    display: block;
    width: 100%;
    height: 90%;
    position: relative;

    &__sidebar {
        display: block;
        width: 26%;
        height: 100%;
        background: $color-dark-grey;

        float: left;
    }

    &__container {
        display: block;
        width: 74%;
        height: 100%;
        background: $color-dark-blue;
        float: right;

        position: relative;

        background-image: url("../../assets/images/background-medium.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}
