
// COLORES 
$color-dark-orange: #FF6600;
$color-medium-orange: #DE7631;
$color-light-orange: #ECA261;

$color-dark-blue: #2C4877;
$color-light-blue: #2998FF;

$color-primary-white: #F0F0F0;
$color-secondary-white: #DAE0E1;

$color-white: #FFF;
$color-black: #000;

$color-dark-grey: #333333;
$color-medium-grey: #3F4448;
$color-light-grey: #777777;

// FONT
$default-font-size: 1.6rem;